.Btn {
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #27ccc0;
    border-radius: 5px;
    display:flex;
    align-items:stretch;
    text-align: center;
    width: 100%;
}
.BtnDel {
    padding: 2px 25px;
    color: #fb718d;
    font-size: 18px;
    border: 2px solid #fb718d;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    display:flex;
    align-items:stretch;
    text-align: center;
}

/* .BtnCancel svg {
    height: 1rem;
    padding-right: 5px;
    padding-bottom: 3px;
} */